<form id="register-form">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
    <small id="emailHelp" class="form-text text-muted">Elle vous permettra de vous connecter</small>
  </div>
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input type="password" class="form-control" id="password" placeholder="Mot de passe">
  </div>
  <div class="form-group">
    <label for="password_conf">Confirmation du mot de passe</label>
    <input type="password" class="form-control" id="password_conf" placeholder="Confirmation mot de passe">
  </div>
  <div class="form-group">
    <label for="age">Âge</label>
    <input type="number" class="form-control" id="age" placeholder="Votre âge de dinosaure" value="18976">
  </div>

  <div class="form-group">
    <label for="family">Famille</label>
    <input type="text" class="form-control" id="family" placeholder="Famille">
  </div>

  <div class="form-group">
    <label for="race">Race</label>
    <input type="text" class="form-control" id="race" placeholder="Race">
  </div>

  <div class="form-group">
    <label for="food">Nourriture</label>
    <input type="text" class="form-control" id="food" placeholder="Nourriture">
  </div>
  <button type="submit" class="btn btn-primary">S'inscrire</button>
</form>

<script type="text/javascript">
  var socket = io.connect("/user");

  $(function() {
      $('#register-form').on('submit', function(e) { //use on if jQuery 1.7+
          e.preventDefault();
          var email = $("#email").val().trim();
          var pwd = $("#password").val().trim();
          var pwd_conf = $("#password_conf").val().trim();
          var age = parseInt($("#age").val().trim());
          var family = $("#family").val().trim();
          var race = $("#race").val().trim();
          var food = $("#food").val().trim();
          if(email == ""
            || pwd == ""
            || pwd_conf == ""
            || !Number.isInteger(age)
            || family == ""
            || race == ""
            || food == ""
            )
            return toastr.error("Veuillez remplir correctement tous les champs", "Erreur")

          if(pwd != pwd_conf)
            return toastr.error("Veuillez vérifier la confirmation de votre mot de passe", "Erreur");

          socket.on("register_response", afterSocket);

          socket.emit("register", {
            email: email,
            pwd: pwd,
            age: age,
            family: family,
            race: race,
            food: food
          })
      });
  });

  function afterSocket(msg)
  {
    socket.removeListener("register_response", afterSocket);
    switch(msg)
    {
      case "ok":
        window.location = "/dino";
        break;

      case "email_taken":
        return toastr.error("Email deja pris");

      case "unknown_error":
        return toastr.error("Rechargez la page");
    }
  }
</script>