<form>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
    <small id="emailHelp" class="form-text text-muted">Elle vous permettra de vous connecter</small>
  </div>
  <div class="form-group">
    <label for="login">Nom d'utilisateur</label>
    <input type="text" class="form-control" id="login" placeholder="Choisissez un nom d'utilisateur">
  </div>
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input type="password" class="form-control" id="password" placeholder="Mot de passe">
  </div>
  <div class="form-group">
    <label for="password_conf">Confirmation du mot de passe</label>
    <input type="password" class="form-control" id="password_conf" placeholder="Confirmation mot de passe">
  </div>
  <div class="form-group">
    <label for="age">Âge</label>
    <input type="number" class="form-control" id="age" placeholder="Votre âge de dinosaure" value="18976">
  </div>

  <div class="form-group">
    <label for="family">Famille</label>
    <input type="text" class="form-control" id="family" placeholder="Famille">
  </div>

  <div class="form-group">
    <label for="race">Race</label>
    <input type="text" class="form-control" id="race" placeholder="Race">
  </div>

  <div class="form-group">
    <label for="food">Nourriture</label>
    <input type="text" class="form-control" id="food" placeholder="Nourriture">
  </div>
  <button type="submit" class="btn btn-primary">S'inscrire</button>
</form>